@import './bar';
@import './select';
@import './search';
@import './tabs';

.header {
    width: 100%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);
    background: $white;
    display: flex;
    flex-direction: column;

    &__logo-mob,
    &__info-mob {
        display: none;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 16px;
        padding: 16px 32px;

        &-logo {
            margin-left: auto;
        }
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .header__row .select {
        display: none;
    }

    .search,
    .tabs,
    .header__row-logo,
    .topBar  {
        display: none;
    }

    .header__row {
        display: none;
    }

    .header {
        &__logo-mob {
            display: block;
        }

        &__info-mob {
            display: flex;
            flex-direction: row;
            column-gap: 16px;
        }

        &__row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 16px 20px;
        }

        &__mob {
            &-search {
                display: flex;
                flex-direction: row;
                column-gap: 8px;
                padding: 16px;
                border-radius: 26px;
                background-color: $Neutral200;
            }

            &-icon {
                padding: 1.67px;
            }

            &-input {
                width: 176.23px;
                height: 20px;
                background: none;
                border: none;
            }
        }

        &__burger {
            &-circle {
                width: 52px;
                height: 52px;
                border-radius: 50%;
                border: 1px solid $Neutral300;
                padding: 16px 18.63px;  
                cursor: pointer;
            }

            &-line {
                width: 100%;
                height: 1px;
                background-color: $Neutral300;
            }

            &-title {
                font-size: 16px;
                color: $Neutral700;
            }
        }
    }
    .burger-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 376px;
        background: white;
        box-shadow: 0px 0px 24px 0px #0000001F;
        padding: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        z-index: 999;
    }   
    
    .burger-block .select {
        width: 100%;
    }

    .cross {
        margin-left: auto;
    }
}